<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="grey lighten-3">
    <div class="navbar-fixed">
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      <nav class="deep-purple darken-4">
        <div class="nav-wrapper">
        <div class="">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons" style="font-size:2rem; margin-left:3rem;">menu</i></a>
  </div>
      <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img class="background" src="assets/neuronas.jpg">
      <a href="http://www.facebook.com/yapz96" target="_blank"><img class="circle" src="https://avatars3.githubusercontent.com/u/18544117?v=3&s=466"></a>
      <a href="#!name"><span class="white-text name">Yojan Pardo</span></a>
      <a href="#!email"><span class="white-text email">yojan.pardo@gmail.com</span></a>
    </div></li>
    <div class="collection" style="border:0px;">
    <li><a href="index.html" class="waves-effect active"><i class="material-icons">home</i>Inicio</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="instalacion.html">Instalando Windows XP</a></li>
    <li><a class="waves-effect disabled" href="dualboot.html">Instalación Ubuntu Gnome</a></li>
    <li><a class="waves-effect" href="mainboard.html">Main board</a></li>
    <li><a class="waves-effect" href="archivos.html">Archivos entre sistemas</a></li>
    <li><a class="waves-effect" href="server.html">Instalando Ubuntu server</a></li>
            <li><a class="waves-effect" href="configuracion-server.html">Configurando un server</a></li>
    </div>  
  </ul>
          <a href="/" class="brand-logo">Django Learning</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container ">
      <div class="row">
        {%for post in posts%}
          <div class="col s12">
            <p class="">Publicado: {{post.published_date}}</p>
            <h1><a href="">{{post.title}}</a></h1>
            <p class="flow-text">{{post.text}}</p>
          </div>
        {%endfor%}
      </div>
    </div>
    <footer class="page-footer deep-purple darken-4 flow-text">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Footer Content</h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/Yojanpardo" data-size="large" data-show-count="true" aria-label="Follow @Yojanpardo on GitHub">Follow @Yojanpardo</a>
              </li>
              <li><!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/Yojanpardo/django_learning/subscription" data-size="large" data-show-count="true" aria-label="Watch Yojanpardo/django_learning on GitHub">Watch</a>
              </li>
              <li>
                <a class="github-button" href="https://github.com/Yojanpardo/django_learning" data-size="large" data-show-count="true" aria-label="Star Yojanpardo/django_learning on GitHub">Star</a>
              </li>
              <li>
                <a href="https://twitter.com/_yojanpardo" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @_yojanpardo</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">Yojan Pardo Zabala</a>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script type="text/javascript">
       $('.button-collapse').sideNav({
            menuWidth: 240, // Default is 240
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
          }
        );
       $('.collapsible').collapsible();
    </script>
  </body>
</html>
